<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client.Common.BlobTransfer" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <add key="ImageRootPath" value="[[Image Storage Path]]" />
  <add key="ImagesContainer" value="images" />
  <add key="DocumentDBEndpoint" value="[[DBEndpoint]]" />
  <add key="DocumentDBAuthorizationKey" value="[[DocumentDBAuthorizationKey]]" />
  <add key="DocumentDBDatabaseName" value="[[DocuemntDbDatabaseName]]" />
  <add key="AssetCollectionName" value="Assets" />
  <add key="SearchServiceName" value="[[SearchServiceName]]" />
  <add key="SearchServiceKey" value="[[SearchServiceKey]]" />
  <add key="DefaultSearchIndex" value="[[SearchIndexName]]" />
  <add key="MediServicesName" value="[[MediaServicesName]]" />
  <add key="MediServicesKey" value="[[MediaServicesKey]]" />
</configuration>