
@{
    ViewBag.Title = "Asset Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

@using (Html.BeginForm("Find","Search", FormMethod.Get))
{
    @Html.AntiForgeryToken();

    <div class="form-horizontal">
        <div class="form-group">
            <div class="input-group col-md-offset-4 col-md-4">
                <input type="text" class="form-control" name="searchCriteria">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary btn-file" value="Find">
                </span>                
            </div>
        </div>
    </div>
}
